*{
    margin: 0%;
}
body{
    text-align: center;
    font-family: 'Sacramento', cursive;
    background-color: #BFEAF5;
}
.top-container{
    margin: 0px;
    position: relative;
}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    top: 200px;
    left: 900px;

}
#p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #202040;
}
h1{
    font-size: 90px;
    margin-top: 50px;
    padding-top: 20px;
    color: #453C67;
}
#mount{
    width: 100%;
    margin: 0%;
}
.mid-container{
    margin-top: 20px;
    background-color: #BFEAF5;
    margin-bottom: 20px;
}
p{
    font-family: 'Chivo Mono', monospace;
    color: #6D67E4;
}
.profile{
    padding-top: 20px;
    padding-bottom: 50px;
}
.skill-row{
    padding:20px 0px 40px 0px ;
    width: 50%;
    margin-bottom: 25px;
}
h3{
    font-family: 'EB Garamond', serif;
}
h2{
    font-size: 50px;
    color: #2D033B;
}
.contact{
    padding: 30px 0 0 20px;
}
span:hover{
    font-size: 200px;
    transition-property: font-size;
    transition-duration: 0.5s;
    -webkit-animation: fadeinout 0.5s linear forwards;
    
}
#mail{
    padding-top: 20px;
    position: relative;
    right: 10px;
}
.bottom-container{
    padding-top: 1px;
    background-color: aliceblue;
    display: ;
   
}
#linkedin{
    padding-top: 7px;
    display: flex;
    flex-direction: column;
}
#gd{
    float: left;
    margin-right: 30px;
    //*padding-right: 30px;*//
    text-align: left;
}
#vd{
    float: right;
    margin-left: 30px;
    //*padding-left: 30px;*//
    
}
.skill-row h3{
    font-size: 200%;
    padding-bottom: 15px;
    color: #4B56D2;
}
.skill-row p{
    font-size: 120%;
}
hr{
    height: 0px;
    width: 20%;
    border-style:dotted none none none;
    border-color: black;
    border-width: 10px;
    margin-bottom: 15px;
}
#px{
    color: #202040;
}
#heading{
    color: #000000;
    opacity: 0.8;
}
#bodi{
    color:#323232;
}
/*.btnb{
    width: 200px;
    text-decoration: none;
    background:white;
    border-radius: 30px;
    padding: 6px 15px;
    color: #905E96;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 20px;
    position: relative;
    right: 10px;
 } */
#git{
    margin-bottom: 20px;
}
.bottom-container a{
    text-decoration: none;
}
.btn{
   
        font-size:20px;
        padding: 6px 15px;
        text-decoration: none;
        font-family: monospace;
        width: 200px;
        height:56px;
        border-width:1px;
        color: #905E96;
        border-color:rgba(255, 255, 255, 1);
        font-weight:bold;
        border-radius: 28px;
        background:white;
        position: relative;
        right: 10px;
      }
      
      .btn:hover {
        background: rgba(50, 53, 48, 1);
        color: antiquewhite;
      }

